
body{
    background-color: black;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}
img{
    margin: auto;
}

.post_1{
    
    justify-content: start;
    background-color: white;
    width: 400px;
    height: auto;
    margin:auto;


}


.post_footer{
    align-items: center;
    width: 400px;

}

